@charset "utf-8";

#wrap{
    width: 100%;
    margin: 0 auto;
}
body>img{

    width: 100%;
    margin: 0 auto;
    background-size: cover;
	position: absolute;
	opacity: 0.5;
    z-index: -1;
}
header{
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 45px;
    margin-top: 50px;   
    margin-bottom: 100px;
}
section{
    height: 600px;
    margin-top: 50px;
}
figure{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;
}
.in{
    width: 500px;
    margin: 0 auto;
}
footer{
	width: 90%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items:flex-end;
	font-size: 30px;
	margin: 0 auto;
	padding-bottom: 150px;
}
footer>nav{
	width: 1200px;
}
footer>nav>ul{
	display: flex;
	justify-content: space-around;
}
footer>nav>ul>li{
	text-align: center;
	line-height: 50px;
	width: 200px;
	height: 50px;
}
footer>nav>ul>li:hover{
	background-color: #F0ECE5;
	border: 0;
	border-radius: 10px;
	box-sizing: border-box;
}